<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
</head>
<body>
   
    <section>
        <h1>this is About page....</h1>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident eveniet, doloremque accusamus possimus maxime nemo consequuntur tempore omnis distinctio modi ullam, nobis recusandae commodi tempora temporibus beatae impedit totam aperiam sunt nulla aliquam rem perferendis quaerat et? Tempore iste et hic quia laborum animi sit reiciendis accusantium accusamus, obcaecati dolor saepe blanditiis consectetur, amet facilis culpa aspernatur esse sequi distinctio doloribus asperiores dicta. Nobis vitae reprehenderit, ipsam sunt maxime suscipit. Molestias aliquam corrupti odit ipsa blanditiis cum, quidem illo perspiciatis optio, quas nobis. Voluptas incidunt, modi aspernatur qui explicabo expedita culpa maxime praesentium reprehenderit ad ea repellendus minus laboriosam nisi?
    </section>
</body>
</html>