<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
</head>
<body>
    <section class="banner d-flex justify-content-center align-items-center">
        <div class="text-center">
            <h1 class="bg-cs-gray p-3 rounded-pill">Manage Your Contact Smartly !</h1>  
          
            <button class="m-auto btn-cs">Get Started</button>  
        </div>
       
    </section>
</body>
</html>